::-webkit-scrollbar {
  width: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: pink;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box; }

.msg {
  color: rgba(0, 0, 0, 0.2);
  text-align: center; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  color: yellow;
  transition: 0.5s;
  background: darkgrey;
  border-radius: 3px; }
  footer .heart {
    transition: 0.5s; }
  footer:hover .heart,
  footer:hover a {
    color: pink; }
  footer a {
    color: yellow;
    text-decoration: none;
    transition: 0.5s; }
    footer a:hover {
      text-decoration: none; }

#svg-container {
  margin: 1rem;
  padding: 1rem; }
  #svg-container svg g path {
    animation: reveal infinite 3s; }

@keyframes reveal {
  50% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    stroke-dashoffset: 0;
    fill: yellow; } }

.code {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%; }

#output-css,
#output-js,
#output-svg {
  padding: 10px;
  border-radius: 5px;
  width: 100%; }

#output-js {
  background: yellow; }

#output-svg {
  background: lightblue; }

#output-css {
  background: lightblue; }

.tuners {
  display: flex; }

.settings {
  display: flex;
  flex-direction: column; }

label {
  font-weight: bold;
  display: block;
  margin: 1rem .5rem; }

input,
select {
  padding: .2rem .5rem;
  border: 0;
  border-radius: 5px;
  width: 100%; }
  input:focus, input:hover, input:active,
  select:focus,
  select:hover,
  select:active {
    outline: none;
    border-bottom: 2px solid blue; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.input-text {
  font-size: 2rem;
  max-width: 500px;
  margin: 0px auto; }
